:root {
    --payne-gray: #3A606E;
    --slate-gray: #607B7D;
    --battleship-gray: #828E82;
    --sage: #AAAE8E;
    --platinum: #E0E0E0;
    --harsh-blue: #425ace;
    --white: #fff;
    --black: #000;

    --font-family: 'Helvetica', sans-serif;
}